@font-face {
  font-family: "DM Sans";
  src: url(./resources/DMSans-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(./resources/Inter-VariableFont_slntwght.ttf);
}

@font-face {
  font-family: "Man Rope";
  src: url(./resources/Manrope-Regular.ttf);
}

@font-face {
  font-family: "DM Sans reg";
  src: url(./resources/DMSans-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./resources/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "DM Sans";
  src: url(./resources/DMSans-Medium.ttf);
}

@font-face {
  font-family: "Monteserrat";
  src: url(./resources/Montserrat-Bold.ttf);
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.top {
  font-family: "DM Sans";
  background-image: url("./images/top-background-image.png");
  height: 790px;
  width: 1440;
  padding-top: 10px;
}

.top .overlay {
  position: absolute;
  width: 1440px;
  height: 790px;
  left: 0px;
  top: 0px;
  background: linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%);
  z-index: 1;
}

.top header {
  border-bottom: 1px solid white;
  width: 90%;
  margin: 30px auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 226px;
  font-size: 1rem;
  font-weight: 400;
}

.top header nav a {
  padding: 20px;
}

.top header nav a:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid white;
  padding-bottom: 25px;
}

.top .mido {
  width: 90%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .mido .welcome-address {
  color: white;
  font-family: "Inter";
  font-weight: 700;
  font-size: 52px;
  width: 584px;
  line-height: 70px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.top .mido .map {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.top .mido .map .nest {
  width: 408px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .mido .map .nest .dummy-map img {
  width: inherit;
}

.top .mido .map .nest .back-drop {
  width: 408px;
  height: 88px;
  background-color: #ffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .mido .map .nest .back-drop .drop-menu {
  height: 58px;
  background-color: #f9f9f9;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: "Poppins";
  color: #252B42;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .2px;
  border: #E6E6E6 1px solid;
}

.top .mido .map .nest .back-drop .drop-menu:first-child {
  width: 128px;
  border-radius: 5px 0 0 5px;
}

.top .mido .map .nest .back-drop .drop-menu:first-child::after {
  margin-left: 15px;
  content: url("./images/Vector.png");
}

.top .mido .map .nest .back-drop .drop-menu:nth-child(2) {
  width: 176px;
}

.top .mido .map .nest .back-drop .drop-menu:nth-child(2)::after {
  margin-left: 15px;
  content: url(./images/Vector.png);
}

.top .mido .map .nest .back-drop .drop-menu:last-child {
  width: 58px;
  background-color: #23A6F0;
  border-radius: 0 5px 5px 0;
}

.top .mido .map .nest .back-drop .drop-menu #type {
  display: none;
  text-align: center;
  width: inherit;
  height: inherit;
}

.top .mido .map .nest .back-drop .drop-menu #type:hover {
  display: block;
}

.next1 {
  width: 90%;
  height: 100vh;
  margin: 93px auto;
}

.next1 h1 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 36px;
  font-family: "Inter";
  line-height: 64px;
}

.next1 .line {
  width: 385px;
  height: 4px;
  background-color: #F4511E;
  margin-top: -5px;
}

.next1 .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.next1 .features .left img {
  margin-left: -50px;
}

.next1 .features .right {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next1 .features .right .feat {
  color: #18191F;
  width: 159px;
  margin-right: 20px;
}

.next1 .features .right .feat .board {
  width: 77px;
  height: 77px;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}

.next1 .features .right .feat:nth-child(3) p {
  width: 293px;
}

.next1 .features .right .feat:nth-child(2) p {
  width: 190px;
}

.next1 .features .right .feat:nth-child(4) p {
  width: 188px;
}

.next1 .features .right .feat:nth-child(1n+4) {
  margin-top: 100px;
}

.next1 .features .right .feat p {
  width: inherit;
  height: 70px;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  font-family: "Inter";
}

.next2 {
  width: 100%;
  margin: 50px auto;
  background-color: #F5F5F5;
  height: 250vh;
}

.next2 .properties {
  width: 80%;
  margin: 61px auto 0;
}

.next2 .properties .listing {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.next2 .properties .listing .right p {
  font-weight: 800;
  font-size: 36px;
  font-family: "Inter";
  text-transform: capitalize;
}

.next2 .properties .listing .right .line {
  width: 84px;
  background-color: #F4511E;
  height: 3px;
}

.next2 .properties .listing .view {
  width: 200px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F4511E;
  color: #fff;
  border-radius: 5px;
  font-family: "Man Rope";
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.next2 .properties .props {
  margin: 0 auto;
  margin-top: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.next2 .properties .props .rect {
  width: 345px;
  height: 521px;
  border-radius: 27px;
  background: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.next2 .properties .props .rect:hover {
  -webkit-box-shadow: 0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);
          box-shadow: 0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);
}

.next2 .properties .props .rect p {
  width: 285px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 23px;
  text-transform: capitalize;
  margin-left: 27px;
  margin-top: 18px;
  line-height: 30px;
}

.next2 .properties .props .rect .room {
  font-family: "DM Sans reg";
  font-size: 18px;
  color: #818181;
  margin-left: 27px;
  margin-top: 18px;
}

.next2 .properties .props .rect .pricing {
  color: #F4511E;
  margin-left: 27px;
  margin-top: 3px;
  font-size: 25.5px;
  font-family: "DM Sans";
  font-weight: 700;
  text-transform: capitalize;
}

.next2 .properties .props .rect .line {
  width: 100%;
  border: 1px solid #E4E4E4;
  margin-top: 10px;
}

.next2 .properties .props .rect .bottom-list {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.next2 .properties .props .rect .bottom-list .first, .next2 .properties .props .rect .bottom-list .second, .next2 .properties .props .rect .bottom-list .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 66px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next2 .properties .props .rect .bottom-list .first .within, .next2 .properties .props .rect .bottom-list .second .within, .next2 .properties .props .rect .bottom-list .third .within {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.next2 .properties .props .rect .bottom-list .first .within .aest img, .next2 .properties .props .rect .bottom-list .second .within .aest img, .next2 .properties .props .rect .bottom-list .third .within .aest img {
  width: 17px;
}

.next2 .properties .props .rect .bottom-list .first .within .numb, .next2 .properties .props .rect .bottom-list .second .within .numb, .next2 .properties .props .rect .bottom-list .third .within .numb {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
}

.next2 .properties .props .rect .bottom-list .second {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
}

.next2 .properties .props .rect .bottom-list .third {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.next2 .properties .props .rect:nth-child(n+4) {
  margin-top: 60px;
}

.next2 .pagination {
  text-transform: capitalize;
  width: calc((90px*2) + (50px *3));
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 85px;
  font-family: "Monteserrat";
  background-color: #ffff;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #BDBDBD;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.next2 .pagination .prev, .next2 .pagination .next {
  width: 90px;
  text-align: center;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F3F3F3;
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
  border-radius: 7px 0 0 7px;
}

.next2 .pagination .next {
  color: #F4511E;
  background-color: #ffff !important;
  border-radius: 0 7px 7px 0 !important;
}

.next2 .pagination .numbering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50px*3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 74px;
  border: 1px solid #BDBDBD;
}

.next2 .pagination .numbering .a, .next2 .pagination .numbering .c {
  width: 50px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F4511E;
}

.next2 .pagination .numbering .b {
  width: 50px;
  height: 74px;
  display: inherit;
  border-left: 1px solid #BDBDBD;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F4511E !important;
  color: #ffff !important;
  border-right: #BDBDBD 1px solid;
}

.next3 {
  width: 100%;
}

.next3 .flexi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 20px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.next3 .flexi .image {
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.next3 .flexi .image .mingo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.next3 .flexi .image .mingo p {
  position: absolute;
  z-index: 2;
  top: 30px;
  width: auto;
  font-family: "Inter";
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.next3 .flexi .image .mingo .back {
  background-color: rgba(0, 0, 0, 0.26);
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 20px;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  -webkit-filter: contrast(1);
          filter: contrast(1);
}

.next3 .flexi .image .mingo .back:hover {
  background-color: transparent;
}

.next3 .flexi .image .mingo .ba {
  height: 334px;
  width: 250px;
}

.next3 .flexi .image .mingo .bb {
  height: 270px;
  width: 270px;
}

.next3 .flexi .image .mingo .bc {
  height: 285px;
  width: 212px;
}

.next3 .flexi .image .mingo .bd {
  height: 336px;
  width: 318px;
}

.next3 .flexi .image .mingo:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.next3 .flexi .image .mingo:nth-child(3) {
  width: 212px;
  height: 285px;
}

.next3 .flexi .image .mingo:nth-child(4) {
  width: 338px;
  height: 336px;
}

.next3 .case {
  width: 450px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Inter";
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
}

.next3 .case h1 {
  font-size: 40px;
  font-weight: 800;
  width: 444px;
  line-height: 54px;
}

.next3 .case .sentence {
  margin-top: 16px;
  line-height: 32px;
  width: 400px;
  font-size: 18px;
}

.next3 .case .search-rooms {
  width: 185px;
  height: 63px;
  margin-top: 62px;
  background: #F4511E;
  border-radius: 13px;
  color: #ffff;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-content {
  width: 100%;
  margin: 100px auto;
}

.form-content h3 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.form-content .form-section {
  width: 80%;
  margin: auto;
}

.form-content form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #Ffff;
  -webkit-box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);
}

.form-content form label {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  display: block;
}
/*# sourceMappingURL=rent.css.map */