@font-face {
    font-family: "DM Sans";
    src: url(./resources/DMSans-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(./resources/Inter-VariableFont_slntwght.ttf);
}

@font-face {
    font-family: "Man Rope";
    src: url(./resources/Manrope-Regular.ttf);
}

@font-face {
    font-family: "DM Sans reg";
    src: url(./resources/DMSans-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(./resources/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "DM Sans";
    src: url(./resources/DMSans-Medium.ttf);
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.top {
    font-family: "DM Sans";
    background-image: url('./images/top-background-image.png');
    height: 790px;
    width: 1440;
    padding-top: 10px;

    .overlay {
        position: absolute;
        width: 1440px;
        height: 790px;
        left: 0px;
        top: 0px;
        background: linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%);
        z-index: 1;
    }

    header {
        border-bottom: 1px solid white;
        width: 90%;
        margin: 30px auto;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        nav {
            display: flex;
            width: 48%;
            justify-content: space-between;
            margin-left: 226px;
            font-size: 1rem;
            font-weight: 400;

            a {
                padding: 20px;

                &:first-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 2px solid white;
                    padding-bottom: 25px;
                }
            }

        }

    }

    .mido {
        width: 90%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .welcome-address {
            // margin: 40px auto;
            color: white;
            font-family: "Inter";
            font-weight: 700;
            font-size: 52px;
            width: 584px;
            line-height: 70px;
            letter-spacing: -1px;
            text-transform: capitalize;

        }

        .map {
            width: fit-content;

            .nest {
                width: 408px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .dummy-map {
                    img {
                        width: inherit;
                    }
                }

                .back-drop {
                    width: 408px;
                    height: 88px;
                    background-color: #ffff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .drop-menu {
                        height: 58px;
                        background-color: #f9f9f9;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        font-family: "Poppins";
                        color: #252B42;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: .2px;
                        border: #E6E6E6 1px solid;


                        &:first-child {
                            width: 128px;
                            border-radius: 5px 0 0 5px;

                            &::after {
                                // position: absolute;
                                margin-left: 15px;
                                content: url('./images/Vector.png');
                            }
                        }

                        &:nth-child(2) {
                            width: 176px;

                            &::after {
                                margin-left: 15px;
                                content: url(./images/Vector.png);
                            }
                        }

                        &:last-child {
                            width: 58px;
                            background-color: #23A6F0;
                            border-radius: 0 5px 5px 0;
                        }

                        #type {
                            display: none;
                            text-align: center;
                            width: inherit;
                            height: inherit;

                            &:hover {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.next1 {
    width: 90%;
    height: 100vh;
    margin: 93px auto;

    h1 {
        text-transform: capitalize;
        font-weight: 800;
        font-size: 36px;
        font-family: "Inter";
        line-height: 64px;
    }

    .line {
        width: 385px;
        height: 4px;
        background-color: #F4511E;
        margin-top: -5px;

    }

    .features {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .left {
            img {
                margin-left: -50px;
            }
        }

        .right {
            margin-right: 40px;
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            justify-content: space-between;
            align-items: center;

            .feat {
                .board {
                    width: 77px;
                    height: 77px;
                    background: #f9f9f9;
                    box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 21px;
                }

                color:#18191F;
                width: 159px;
                margin-right: 20px;

                &:nth-child(3) {
                    p {
                        width: 293px;
                    }
                }

                &:nth-child(2) {
                    p {
                        width: 190px;
                    }
                }

                &:nth-child(4) {
                    p {
                        width: 188px;
                    }
                }

                &:nth-child(1n+4) {
                    //Using a AP in selecting the 4th, 5th and 6th child
                    margin-top: 100px;
                }


                p {
                    width: inherit;
                    height: 70px;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 35px;
                    font-family: "Inter";
                }
            }
        }
    }
}

.next2 {
    width: 100%;
    margin: 50px auto;
    background-color: #F5F5F5;
    height: 200vh;

    .properties {
        width: 90%;
        margin: 61px auto 0;

        .listing {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .right {
                p {
                    font-weight: 800;
                    font-size: 36px;
                    font-family: "Inter";
                    text-transform: capitalize;
                }

                .line {
                    width: 84px;
                    background-color: #F4511E;
                    height: 3px;
                }
            }

            .view {
                width: 200px;
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F4511E;
                color: #fff;
                border-radius: 5px;
                font-family: "Man Rope";
                font-weight: 500;
                font-size: 17px;
                cursor: pointer;
                box-shadow: 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
            }
        }

        .props {
            margin-top: 70px;

            .rect {
                width: 358px;
                height: 521px;
                border-radius: 27px;
                background: #ffff;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);

                p {
                    width: 285px;
                    font-family: "DM Sans";
                    font-weight: 700;
                    font-size: 23px;
                    text-transform: capitalize;
                    margin-left: 27px;
                    margin-top: 18px;
                    line-height: 30px;
                }

                .room {
                    font-family: "DM Sans reg";
                    font-size: 18px;
                    color: #818181;
                    margin-left: 27px;
                    margin-top: 18px;
                }

                .pricing {
                    color: #F4511E;
                    margin-left: 27px;
                    margin-top: 3px;
                    font-size: 25.5px;
                    font-family: "DM Sans";
                    font-weight: 700;
                    text-transform: capitalize;
                }
                .line{
                    width: 100%;
                    border: 1px solid #E4E4E4;
                    margin-top: 10px;
                }

                .bottom-list {
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    .first .second .third {
                        display: flex;
                        width: calc(80%/3);
                        height: 64px;
                        justify-content:flex-start;
                        align-items: center;
                        margin-top: 1px;
                        border: 1px solid purple;

                        .within {
                            display: flex;
                            width: 35px;
                            align-items: center;
                            justify-content: space-between;
                            .aest {
                                img {
                                    width: 17px;
                                }
                            }

                            .numb {
                                font-family: "DM Sans";
                                font-weight: 700;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

        }
    }
}